@import "../../styles/global.scss";

.discography {
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  .left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    height: 100vh;
    // left: 150px;

    background: #ffffff;
    opacity: 0.8;

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 32px;
    }

    li {
      font-weight: 600;
      margin-bottom: 5px;
      margin-left: 20px;
      font-size: 20px;
    }
    .content {
      .headline {
        margin-bottom: 30px;
      }
      .dropdown {
        display: flex;
        flex-direction: column;
        .head {
          cursor: pointer;
          align-items: center;
          display: flex;
          justify-content: space-between;
        }
        ul {
          display: none;
        }
      }

      .active {
        .arrow {
          transform: rotate(-180deg);
        }

        ul {
          display: block;
        }
      }
    }
  }
  .right {
    flex: 0.5;
  }
}

@include mobile {
  .discography {
    // background-image: none;
    height: auto;
    position: relative;
    top: 180px;
    .left {
      flex: none;
      // padding: 20px;
      // padding-bottom: 60px;
      // padding-top: 60px;
      width: 100vw;
      .content {
        width: 80%;

        .headline {
          text-align: center;
          h1 {
            font-size: 32px;
          }
        }
        .dropdown {
          display: flex;
          flex-direction: column;
          .head {
            display: flex;
            justify-content: space-between;
            h2 {
              font-size: 20px;
              text-align: justify;
            }
            cursor: pointer;
            display: flex;
          }
          ul {
            display: none;
          }
        }

        .active {
          .arrow {
            transform: rotate(-180deg);
          }

          ul {
            display: block;

            li {
              font-size: 15px;
              font-weight: normal;
            }
          }
        }
      }
    }
    .right {
      flex: none;
      display: none;
    }
    // background-size: 200% 100%;
  }
}
